ion-item{
    --border-color:white !important;
}
ion-button{
    --box-shadow: none !important;
    max-width:568px;
}
ion-page{
    background-color:white !important
}
ion-header {
    background-image: none !important;
    background: white;
    /* border-bottom: 1px solid lightgray; */
}
.source{
    font-family: 'Source sans pro'
}
.roboto{
    font-family: 'Roboto';
}
.bg-l-gray {
    background-color: var(--ion-color-primary) !important;
}

body {
    overflow: hidden !important;
}